# Django Framework
Django==5.1.4

# Database
dj-database-url==2.2.0
psycopg2-binary==2.9.10

# Static Files
whitenoise==6.8.2

# Web Server (for production)
gunicorn==23.0.0

# Environment Variables
python-decouple==3.8

# Image Processing (for product images)
Pillow==11.0.0
python-barcode==0.15.1

# Additional utilities
pytz==2024.2
