{% load static %}
<!-- Footer -->
<footer class="footer mt-auto">
	<div class="copyright bg-white">
		<p class="ec-copy">Copyright © 2025 <span id="copyright_year"></span> <a class="site-name text-upper"
				href="index.html">Trade print</a>. All Rights Reserved by xneztech solutions.
	</div>
	</p>
	</div>
</footer>

<!-- </div> End Page Wrapper -->
<!-- </div> End Wrapper -->
</div>
</div>


<!-- Common Javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
	integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'backend/assets/plugins/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'backend/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'backend/assets/plugins/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'backend/assets/plugins/jquery-zoom/jquery.zoom.min.js' %}"></script>
<script src="{% static 'backend/assets/plugins/slick/slick.min.js' %}"></script>

<!-- Chart -->
<script src="{% static 'backend/assets/plugins/charts/Chart.min.js' %}"></script>
<script src="{% static 'backend/assets/js/chart.js' %}"></script>

<!-- Google map chart -->
<script src="{% static 'backend/assets/plugins/charts/google-map-loader.js' %}"></script>
<script src="{% static 'backend/assets/plugins/charts/google-map.js' %}"></script>

<!-- Date Range Picker -->
<script src="{% static 'backend/assets/plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'backend/assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'backend/assets/js/date-range.js' %}"></script>

<!-- Option Switcher -->
<script src="{% static 'backend/assets/plugins/options-sidebar/optionswitcher.js' %}"></script>

<!-- Ekka Custom -->
<script src="{% static 'backend/assets/js/ekka.js' %}"></script>